PN_NR_Proj/Ref/data5.json
[{"id":"c77c179d.5d8e9","type":"inject","z":"75679841.8c14d","name":"Temp","topic":"","location":"6e4d9d36.e0a3fc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":148,"wires":[["c17173a1.3d1d7"]]},{"id":"3474170e.715a1","type":"inject","z":"75679841.8c14d","name":"Speed","topic":"","location":"6e4d9d36.e0a3fc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":254,"wires":[["c17173a1.3d1d7"]]},{"id":"3dcbdd2d.b7599a","type":"inject","z":"75679841.8c14d","name":"Vibration","topic":"","location":"6e4d9d36.e0a3fc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":114,"y":354,"wires":[["c17173a1.3d1d7"]]},{"id":"c17173a1.3d1d7","type":"function","z":"75679841.8c14d","name":"Compute Node","func":"\nreturn msg;","outputs":1,"noerr":0,"location":"6e4d9d36.e0a3fc","x":361.5,"y":248.75,"wires":[["8d0a8ad6.a2d2"]]},{"id":"8d0a8ad6.a2d2","type":"debug","z":"75679841.8c14d","name":"","active":true,"console":"false","complete":"payload","location":"c0b529c8.67f2f8","x":578.5,"y":166.5,"wires":[]},{"id":"6e4d9d36.e0a3fc","type":"location","z":"","name":"Room1","host":"9.1.75.78","port":"1880"},{"id":"c0b529c8.67f2f8","type":"location","z":"","name":"Room2","host":"9.1.75.116","port":"1880"}]