PN_NR_Proj/Ref/data6.json
[{"id":"2f9561de.333fee","type":"inject","z":"e67cf5a0.5c0e88","name":"Occupancy Sensor","topic":"","location":"6e4d9d36.e0a3fc","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":252.2222137451172,"y":153.3333282470703,"wires":[["94a77544.1f4678"]]},{"id":"94a77544.1f4678","type":"function","z":"e67cf5a0.5c0e88","name":"Gateway","func":"\nreturn msg;","outputs":1,"noerr":0,"location":"7c63fb4a.8d87b4","x":510.21366119384766,"y":225.09828186035156,"wires":[["7835fa48.257004"]]},{"id":"7835fa48.257004","type":"debug","z":"e67cf5a0.5c0e88","name":"Cloud","active":true,"console":"false","complete":"payload","location":"30d98a41.91ebc6","x":669.2136611938477,"y":224.84828186035156,"wires":[]},{"id":"b2114c1a.76cdc","type":"inject","z":"e67cf5a0.5c0e88","name":"Occupancy Sensor","topic":"","location":"c0b529c8.67f2f8","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":248.88888549804688,"y":227.77777099609375,"wires":[["94a77544.1f4678"]]},{"id":"b4c06481.8440b8","type":"inject","z":"e67cf5a0.5c0e88","name":"Occupancy Sensor","topic":"","location":"be1b3196.498498","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":246.66665649414062,"y":298.8888854980469,"wires":[["94a77544.1f4678"]]},{"id":"6e4d9d36.e0a3fc","type":"location","z":"","name":"Room1","host":"9.1.75.78","port":"1880"},{"id":"7c63fb4a.8d87b4","type":"location","z":"","name":"Gateway","host":"9.1.141.225","port":"1880","loc_type":"Platform"},{"id":"30d98a41.91ebc6","type":"location","z":"","name":"Cloud","host":"localhost","port":"1880","loc_type":"Platform"},{"id":"c0b529c8.67f2f8","type":"location","z":"","name":"Room2","host":"9.1.141.224","port":"1880","loc_type":"Platform"},{"id":"be1b3196.498498","type":"location","z":"","name":"Room3","host":"9.1.142.82","port":"1880","loc_type":"Platform"}]
